<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li *ngFor="let id of tabs" [ngbNavItem]="id">
    <a ngbNavLink (click)="currentTribe = id">
      {{ id.charAt(0).toUpperCase() + id.slice(1) }} Calculator
    </a>

    <ng-template ngbNavContent>
      <h1 class="text-center">{{ id.charAt(0).toUpperCase() + id.slice(1) }} Calculator</h1>
      <p class="text-center">by crappycoder</p>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form>
              <div class="form-group">
                <label for="totalResources">Resource Total</label>
                <input type="number" class="form-control" name="totalResources" placeholder="Big Number Here" [(ngModel)]="totalResources" (ngModelChange)="recomputeAllocation()">
              </div>
              <div class="form-group">
                <label for="cropStore">Crop to Store</label>
                <input type="number" name="cropStore" class="form-control" id="cropStore" placeholder="How many crop to save" [(ngModel)]="cropStore" (ngModelChange)="recomputeAllocation()">
              </div>
              <div class="form-group">
                <label for="totalAllocation">Total Allocation</label>
                <input type="number" name="totalAllocation" class="form-control" id="totalAllocation" placeholder="How many crop to save" [(ngModel)]="totalAllocation" disabled readonly="$1">
              </div>
            </form>
          </div>
          <div class="col-md-12">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Name</th>
                  <th class="text-center">Wood</th>
                  <th class="text-center">Clay</th>
                  <th class="text-center">Iron</th>
                  <th class="text-center">Crop</th>
                  <th class="text-center">Total</th>
                  <th class="text-center">Count</th>
                  <th colspan="2">Percentage</th>
                </tr>
              </thead>
              <tbody>
                <tr unitComponent *ngFor="let unitObject of units[id]; index as i" [unitIndex]="i" [tribe]="id" [unit]="unitObject" [allocation]="totalAllocation" (totalChangedEvent)="totalHandler($event)"></tr>
                <tr>
                  <th class="text-center">Total</th>
                  <th class="text-center">{{ totalWood() }}</th>
                  <th class="text-center">{{ totalClay() }}</th>
                  <th class="text-center">{{ totalIron() }}</th>
                  <th class="text-center">{{ totalCrop() }}</th>
                  <th class="text-center">{{ totalSummary() }}</th>
                  <th class="text-center">{{ getTotalUnitCount() }}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>